name: Benchmark
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  deployments: write
  contents: write
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  benchmark:
    name: Benchmark Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
      - name: Run benchmark
        run: go test -bench . | tee 'output.txt'
      - name: Download previous benchmark data
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1.20.7
        with:
          tool: "go"
          output-file-path: output.txt
          fail-on-alert: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: false
      - name: Push benchmark result
        if: ${{ success() && github.event_name == 'push' && github.ref_name == 'main' }}
        run: git push 'https://daku10:${{ secrets.GITHUB_TOKEN }}@github.com/daku10/go-lz-string.git' gh-pages:gh-pages
