name: tagpr
on:
  push:
    branches:
      - main
permissions: write-all
jobs:
  tagpr:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        id: generate-token
        uses: getsentry/action-github-app-token@v2
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Check out source code
        uses: actions/checkout@v3
        with:
          token: ${{ steps.generate-token.outputs.token }}
      - name: Run tagpr
        uses: Songmu/tagpr@v1
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
